Categories: categories

%h1 Cheat Sheats

%p
  There is only so much that can be held in our brains. Sometimes a cheat sheet is helpful for quick reference. I know there are tons out there, but these are also on my local laptop for quick access as well. So I figure, I should make a home for them.