Categories: categories

%h1 Databases

%p
  These things are way better than spreadsheets. It's my pet pieve that people use excel with data sets that is better suited for a database (but I wont say that out loud).