Date: 30 April, 2013
Categories: categories/sysadmin
Flags: draft
Summary: Howto enable compression in Apache with an exeception for the IE browser.

%h1 Apache compression

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

= print_code(:filename => 'files/apache-deflate-gzip.conf', :syntax => 'apache-config', :theme => 'eiffel', :show_code => true)