Date: 2 May, 2013
Categories: categories/redmine
Flags: draft
Summary: When making an issue in Redmine, sometimes the due date field is not filled out. If you want this field to be populated based on the start date, my plugin will help do that along with a offset.

%h1 Redmine Due Date Offset plugin with using a hook


My plugin took me a little bit time to make and this article is ment for my documentation of how to use the hooks for a Redmine plugin. In general, this plugin takes the start date of an issue and sets the due date before the issue is saved. This is accomplished by using a hook. I am sure there is a better way to accomplish this with using a callback, but I have not figured out how to implement a soltuion using that method.

%h2 Download

%a{:href => "/files/"}