Date: 18 June, 2013
Categories: categories/ruby
Summary: all about vcl

%h1 Varnish VCL test

this is to test vcl syntax highlighting

= print_code(:filename => 'files/default.vcl', :syntax => File.expand_path('public/syntaxes/source.vcl.syntax', Nesta::App.root), :theme => 'eiffel', :show_code => true)