- unless page.categories.empty?
  - unless @page.path =~ /^categories$/
    %h6.span
      Published
      - if page.date
        on
        %time{:itemprop => "datePublished", :content => page.date.to_s }= format_date(page.date)
      - unless page.categories.empty?
        in
        - page.categories.each do |category|
          - if category != page.categories[-1]
            = succeed ',' do
              %a{:href => "#{url(category.abspath)}", :itemprop => 'articleSection'}= category.heading
          - else
            %a{:href => "#{url(category.abspath)}", :itemprop => 'articleSection' }= category.heading
      by
      %a{:href => 'https://plus.google.com/+AaronAddleman‎?rel=author', :rel => 'author', :itemprop => 'author', :itemscope => '', :itemtype => 'http://schema.org/Person' }
        Aaron Addleman