- unless pages.empty?
  - pages.each do |page|
    %article
      %header
        %h3
          %a(href="#{url(page.abspath)}")= page.heading
        = haml :page_meta, :layout => false, :locals => { :page => page }
      
        - if page.summary.nil? || page.summary.empty?
          ~ page.body(self)
          / ~ page.title(self)
        - else
          ~ page.summary
          %p.read_more
            %a(href="#{url(page.abspath)}")= page.read_more
  %hr