- display_menu(@menu_items, :class => "nav nav-pills pull-right")
/ %ul(class="nav nav-pills pull-right")
/ 	%li
/ 		%a(href="/" class="#{if }")
/ 			Home
/ 	%li
/ 		%a(href="/prices")
/ 			Prices
/ 	%li
/ 		%a(href="/hours")
/ 			Hours

/ 	%li
/ 		%a(href="/contact")
/ 			Contact
